<!DOCTYPE html>
<html>
  <head>
    <title>{{.PageTitle}}</title>
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
    <style>
      .repo img {
        margin: 8px;
        max-width: 100px;
        border-radius: 50px;
      }

      a:hover {
        border-bottom: 0px;
      }

      .repo {
        display: flex;
        align-items: center;
      }

      .repo .info {
        margin-left: 20px;
      }

      .info a,p {
        margin: 0px;
      }

      .info .fullname {
        font-size: 2rem;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <h1>{{.PageTitle}}</h1>
    <form action="/" method="get">
      <input name="q" placeholder="Repository name" value="{{.Key}}"/>
    </form>
    {{if .Key}}
    <h5>Showing {{len .RepoQuery.Items}} of {{.RepoQuery.TotalCount}} repository results</h5>
    <div>
      {{range $repo := .RepoQuery.Items}}
      <div class="repo">
        <a href="{{$repo.Owner.HTMLURL}}"><img src="{{$repo.Owner.AvatarURL}}" /></a>
        <div class="info">
          <a class="fullname" href="{{$repo.HTMLURL}}">{{$repo.FullName}}</a>
          <p>{{$repo.Description}}</p>
        </div>
      </div>
      {{end}}
    </div>
    {{else}}
    {{end}}
  </body>
</html>
