<!DOCTYPE html>
<html>
  <head>
    <title>Download Service</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/sakura.css/css/sakura.css"
      type="text/css"
    />
    <style>
      a:hover {
        border-bottom: 0px;
      }

      #urls input {
        display: block;
      }
    </style>
  </head>

  <body>
    <h1>Compression Service</h1>
    <span>Server time: <code id="server-time">Not available</code></span>
    <form action="/download/" method="post" enctype="multipart/form-data">
      <label for="url">Enter urls:</label>
      <div id="urls">
        <input class="url-input" type="url" name="url" />
      </div>
      <hr />
      <button id="addfield-button" type="button" onclick="addfield()">
        Add more file
      </button>
      <input type="submit" value="Submit" />
    </form>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"
      integrity="sha256-nkP8cj5xaTdWK/BsZl+57ZCE/Y/i4UNtbNTpgH+6Taw="
      crossorigin="anonymous"
    ></script>
    <script>
      var addfield = function () {
        let inputs = document.getElementsByClassName("url-input");
        if (inputs.length < 10) {
          let input = inputs[0].cloneNode(true);
          input.value = "";
          document.getElementById("urls").appendChild(input);
          if (inputs.length == 9) {
            let button = document.getElementById("addfield-button");
            button.enabled = false;
          }
        }
      };
      var ws = new WebSocket("ws://{{.Host}}:15674/ws");
      var client = Stomp.over(ws);
      client.debug = function () {
        if (window.console && console.log && console.log.apply) {
          console.log.apply(console, arguments);
        }
      };
      var on_connect = function () {
        console.log("connected");
        id = client.subscribe("/topic/waktu", function (d) {
          document.getElementById("server-time").innerHTML = d.body;
        });
      };

      var on_error = function () {
        console.log("error");
      };

      client.connect("{{.User}}", "{{.Pass}}", on_connect, on_error, "{{.VHost}}");
    </script>
  </body>
</html>
